<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <hr>

  <a href="/register">REGISTRARSE</a>
  <a href="/login">INGRESAR</a>
  <a href="/public">LOBBY PUBLICO</a>
  <a href="/private">LOBBY PRIVADO</a>
</body>

</html>