<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Bienvenido a nuestra pagina chequelize! Ingresa ya!!!</h1>
    <a href="/">HOME PAGE</a>
    <hr>
    <form action="/login" method="POST">
        <input type="email" name='email'>
        <input type="password" name="password">
        <button>Ingresar</button>
    </form>
</body>

</html>