<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Privada</title>
</head>

<body>
    <h1>Bienvenido al sector privado! Ya estas logueado!!!</h1>
    <a href="/">HOME PAGE</a>

    <h3>Disfruta de los pokemons</h3>

    <h4>Pikachu</h4>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="img" style="width: 400px;">
    <p>Cada vez que un Pikachu se encuentra con algo nuevo, le lanza una descarga eléctrica. Cuando se ve alguna baya
        chamuscada, es muy probable que sea obra de un Pikachu, ya que a veces no controlan la intensidad de la
        descarga.</p>



</body>

</html>