<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Publica</title>
</head>

<body>
    <h1>Bienvenido al sector publico!!!</h1>
    <a href="/">HOME PAGE</a>

    <h3>Disfruta de los pokemons</h3>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="img" style="width: 400px;">
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png" alt="img" style="width: 400px;">
</body>

</html>